#ttable {
    width: 100%;
}

thead > tr {
    background-color: orange;
}

tbody > tr:nth-child(odd) {
    background-color: lightgreen;
}

#addTransBtnContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#addTransBtnContainer > button {
    margin: 10px;
    font-size: large;
}